<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Mode>Api</Mode>
  <AggType>Max</AggType>
  <Debug>true</Debug>
  <DllDirectory>lib</DllDirectory>
  <ApiModeConfiguration>
    <Endpoint>http://192.168.1.6:8000</Endpoint>
    <Token>abacaba</Token>
    <RequestTimeout>5</RequestTimeout>
  </ApiModeConfiguration>
  <Algorithms>
    <Algorithm>
      <Id>2</Id>
      <Name>algo2</Name>
      <Enabled>true</Enabled>
      <DllName>AntiChitDLL2.dll</DllName>
    </Algorithm>
    <Algorithm>
      <Id>3</Id>
      <Name>algo3</Name>
      <Enabled>true</Enabled>
      <DllName>AntiChitDLL3.dll</DllName>
    </Algorithm>
  </Algorithms>
</Configuration>